# Node Vars
node_modules/
# Page Data
data/adulthookups.com
data/easysex.com
data/hookupcloud.com
data/sexsearch.com
# views
views/sex-games
views/globals/footer.pug
views/globals/navbar-brand.pug
views/globals/navmenu.pug
views/seo/dcs-tag.pug
views/seo/google-tag-mgr.pug
views/seo/seo-tags.pug
# Generated Pages
public/
