doctype html
html
	head
		include seo/meta-headers.pug
		include seo/seo-tags.pug
		include sex-games/css-files.pug
		include globals/font-files.pug
		include seo/google-tag-mgr.pug
	body
		<!-- /.preloader -->
		#preloader
		#top
		<!-- NAVIGATION -->
		include globals/navmenu.pug
		<!-- /.client section -->
		include sex-games/bestlist.pug
		<!-- /.best-index section -->
		include sex-games/bestindex.pug
		<!-- / End .best-index -->
		<!-- /.parallax full screen background image -->
		include sex-games/parallax.pug
		<!-- /.footer -->
		include globals/footer.pug
		<!--/.javascript files -->
		include sex-games/js-files.pug
		include seo/dcs-tag.pug