//-
	Footer section
//-
//-
mixin fa(type)
	i.fa(aria-hidden='true' class=type)
//-
footer#footer
	.container
		.col-sm-12.divider
			.text-center.wow.fadeInUp.animated
				a.col-md-3.col-xs-12(href='javascript:open_url("' + page.domain + '","/go/forgotpassword")' rel='nofollow') FORGOT PASSWORD
				a.col-md-3.col-xs-12(href='javascript:open_url("' + page.domain + '","/public/faq")' rel='nofollow') HELP
				a.col-md-3.col-xs-12(href='javascript:open_url("' + page.domain + '","/public/privacypolicy")' rel='nofollow') PRIVACY
				a.col-md-3.col-xs-12(href='javascript:open_url("' + page.domain + '","/go/customer_service")' rel='nofollow') CUSTOMER SUPPORT
				a.col-md-6.col-xs-12(href='javascript:open_url("' + page.domain + '","/public/termasandconditionsofuse")' rel='nofollow') TERMS AND CONDITIONS OF USE
				a.col-md-6.col-xs-12(href='javascript:open_url("' + page.domain + '","/public/custodian_of_records")' rel='nofollow') 18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement
		.col-sm-12.mt40
			.text-center.wow.fadeInUp WARNING: Explicit photos, videos, and other content can be seen on <a href="/">#{page.domain}</a>.<br>You must be at least 18 years of age to view this site. If you are under the age of 18, or you are forbidden to view adult content, you must leave the site.
		.col-sm-6.col-sm-offset-3.mt20
			.text-center.wow.fadeInUp Copyright <span class="copyright-year"></span> <a href="/">#{page.domain}</a>. All rights reserved.
			a.scrollToTop(href="#")
				+fa('fa-arrow-circle-o-up')
	include ../seo/dcs-tag.pug