//-
	NavBar brand setup
//-
case page.domain
	when 'adulthookups.com'
		a.navbar-brand.site-name(href='/naughty-dating/free-hookups/')
			img(src=page.resourceUrl + '/dp/image/adulthookups.com.png' alt='adulthookups.com')
	when 'easysex.com'
		a.navbar-brand.site-name(href='/sex-clubs/')
			img(src=page.resourceUrl + '/dp/image/easysex.com.png' alt='easysex.com')
	when 'hookupcloud.com'
		a.navbar-brand.site-name(href='/date-tonight/hookup-cloud/')
			img(src=page.resourceUrl + '/dp/image/hookupcloud.com.png' alt='hookupcloud.com')
	when 'sexsearchcom.com'
		a.navbar-brand.site-name(href='/')
			img(src=page.resourceUrl + '/dp/image/sexsearchcom.com.png' alt='sexsearchcom.com')