//-
	DCS Tracking Tag Snippets
//-
case page.domain
	when 'adulthookups.com'
		script(type="text/javascript" src="http://static.adulthookups.com/de/res/vendor/webtrends/dcs_tag.js")
		script.
			/* <![CDATA[ */
			WT["sp"] = "adulthookups.com";
			dcsTag();
			/* ]]> */
		noscript
			img(border="0" name="DCSIMG" width="1" height="1" src="http://wt.adulthookups.com/dcs8a9lkdk711roghvzx6gsg8_1s9d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.0.0")
	when 'easysex.com'
		script(type="text/javascript" src="http://static.easysex.com/de/res/vendor/webtrends/dcs_tag.js")
		script.
			/* <![CDATA[ */
			WT["sp"] = "easysex.com";
			dcsTag();
			/* ]]> */
		noscript
			img(border="0" name="DCSIMG" width="1" height="1" src="http://wt.easysex.com/dcs0zztfg00000s969s37qoal_2f6z/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.0.0")
	when 'hookupcloud.com'
		script(type="text/javascript" src="http://static.hookupcloud.com/de/res/vendor/webtrends/dcs_tag.js")
		script.
			/* <![CDATA[ */
			WT["sp"] = "hookupcloud.com";
			dcsTag();
			/* ]]> */
		noscript
			img(border="0" name="DCSIMG" width="1" height="1" src="http://wt.hookupcloud.com/dcsv96qcv000008alp4trgo0q_7h8h/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.0.0")
	when 'sexsearchcom.com'
		script(type="text/javascript" src="http://static.sexsearchcom.com/de/res/vendor/webtrends/dcs_tag.js")
		script.
			/* <![CDATA[ */
			WT["sp"] = "sexsearchcom.com";
			dcsTag();
			/* ]]> */
		noscript
			img(border="0" name="DCSIMG" width="1" height="1" src="http://wt.sexsearchcom.com/dcscpr6sbugmf60fc2jbe86ep_2g4h/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.0.0")