//-
	Full width parallax scrolling footer
//-
.fullscreen.landing.parallax(data-img-width='2000' data-img-height='1333' data-diff='100')
	.overlay
		.container
			.row
				.col-md-7
					.logo.wow.fadeInDown.animated
						<!-- /.logo -->
						include ../globals/navbar-brand.pug
						br
						br
					<!-- /.main title -->
					h1.wow.fadeInLeft #{page.titleText}
					<!-- /.header paragraph -->
					.landing-text.wow.fadeInUp
						p #{page.description}
					<!-- /.header button -->
					.head-btn.wow.fadeInLeft
						a.btn-default(href='#top10') #{page.heading}
				<!-- /.pick up image -->
				.col-md-5.pick-up
					img.img-responsive.fadeInUp(src=page.resourceUrl + '/dp/image/pu-sex-games.png' alt= page.title)